.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul);
  /* background-color: var(--cinza); */
  padding: 10px;
}



.navbar__content {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
}


